$dark : #333;
$blue : #0094C0;
$grey :  #868686;
$theme :  $blue;    //可删

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin: 0; padding: 0;}
ul,ol,li{ list-style: none;}
a{ text-decoration: none;}

@mixin blueLink {
    color: $dark; 
    &:hover{ color: $blue;}
}

html{
    font-size: 14px;
    color: $dark;
    background-color: #F7F9FB;
}

header{
    background-color: rgba($color: #000000, $alpha: 0.6);
    padding-top: 12px;
    height: 50px;
    .logo{
        float: left;
        background-color: #FFFFFF;
        height: 36px;
        width: 120px;
    }
    .search{
        float: right;
        input{
            width: 200px;
            height: 30px;
            background-color: #555;
            border: solid 1px $dark;
            padding-left: 8px;
        }
    }
}

main{
    margin-top: 50px;
    nav{
        position: absolute;
        top: -2em;
        left: 10px;
        width: 100%;
        ul{
            height: 2rem;
            li{
                font-size: 0.75rem;
                float: left;
                padding-right: 0.5em;
                a{
                    @include blueLink();
                    padding-right: 0.5em;
                }
                &:after{
                    content: ">>";
                    color: #CCC;
                }
                &:last-of-type::after{
                    content: "";
                }
            }
        }
    }
    .wapper{
        position: relative;
        border: 1px solid #BBB;
        border-top: 5px solid $blue;
        background-color: #FFFFFF;
        box-sizing: border-box;
        h3{
            padding: 20px 50px;
            font-size: 2rem;
            font-weight: normal;
            height: 100%;
            padding-bottom: 20px;
        }
        article{
            border-top: 1px solid #BBB;
            padding: 20px 50px;
            section{
                padding: 0 10px 20px 0;
                h4{
                    padding-bottom: 10px;
                    font-weight: bold;
                }
                .menb-card{
                    width: 100%;
                    height: 140px;
                    margin-bottom: 10px;
                    position: relative;
                    border: 1px solid #BBB;
                    .menb-intro{
                        position: absolute;
                        left: 45px;
                        top: 10px;
                        img{
                            width: 120px;
                            height: 120px;
                        }
                        .intro-cont{
                            position: absolute;
                            width: 450px;
                            left: 150px;
                            top: 5px;
                            div{
                                width: 100%;
                                margin-bottom: 2px;
                                flex-direction: row;
                                p{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
                .decor-box{
                    width: 20%;
                    height: 100%;
                    background-color: $blue;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}
footer{
    width: 100%;
    background-color: #E5E5E5;
    height: 100px;
    p{
        color: $grey;
        line-height: 100px;
        text-align: center;
    }
}

.wapper{
    min-width: 900px;
    max-width: 1024px;
    margin: 0 auto;
}