<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>关于我们</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "main.css" %}">
  <script type="text/javascript" src="{% static "main.js" %}"></script>
  <style>
  </style>
</head>

<body>
  <header>
    <div class="wapper">
      <div class="logo"><span>稳</span></div>
      <div class="search"><input type="text" placeholder="查找..."></div>
    </div>
  </header>
  <main>
    <div class="wapper">
      <nav>
        <ul>
          <li><a href="#">首页</a></li>
          <li>关于我们</li>
        </ul>
      </nav>
      <h1>关于我们</h1>
      <article>
        <section>
          <h2>团队介绍</h2>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们是————稳小组！（假装有团队介绍的样子
          </p>
        </section>
        <section>
          <h2>团队成员</h2>
          <div class="menb-card">
            <div class="menb-intro">
              {% load %}
              <img alt="name" src="media/name.jpg" class="profile">
              <!-- 这里是介绍 -->
              <div class="intro-cont">
                <div>
                  <p>姓名：</p>
                  <p>陈晓璐</p>
                </div>
                <div>
                  <p>爱好：</p>
                  <p>宅和花钱</p>
                </div>
                <div>
                  <p>喜欢的食物：</p>
                  <p>串串、紫芋小丸子珍珠奶茶、没有刺的鱼</p>
                </div>
                <div>
                  <p>最近高兴的事情：</p>
                  <p>《集合吧！动物之森》了解一下，匠心巨作猛男必玩！ 我的好友编号：491813612605！欢迎来岛一起养老</p>
                </div>
              </div>
            </div>
            <!-- <div class="decor-box"></div> -->
          </div>
          <div class="menb-card">
            <div class="menb-intro">
              <img alt="yaox" src="media/yaox.jpg" class="profile">
              <!-- 这里是介绍 -->
              <div class="intro-cont">
                <div>
                  <p>姓名：</p>
                  <p>姚雪</p>
                </div>
                <div>
                  <p>爱好：</p>
                  <p>互联网打拳</p>
                </div>
                <div>
                  <p>特长：</p>
                  <p>走路很慢</p>
                </div>
                <div>
                  <p>曾获奖项及称号：熬夜看小说大赛一等奖<br />“40级之后好友数还是0的刀客塔”<br />“说好白手起家却一打开游戏就motherlode的模拟市民”</p>
                </div>
              </div>
            </div>
            <!-- <div class="decor-box"></div> -->
          </div>
          <div class="menb-card">
            <div class="menb-intro">
              <img alt="name" src="media/Karry.jpg" class="profile">
              <!-- 这里是介绍 -->
              <div class="intro-cont">
                <div>
                  <p>姓名：</p>
                  <p>孙凯丽</p>
                </div>
                <div>
                  <p>爱好：</p>
                  <p>吃（别人做的）美食，看吃播，hp死忠粉</p>
                </div>
                <div>
                  <p>最经常做的事：</p>
                  <p>亲手推倒自己立的flag：）</p>
                </div>
                <div>
                  <p>最近最喜欢的综艺：</p>
                  <p>真的不看《歌手》吗？？？老萧简直是我心里的白月光。</p>
                </div>
              </div>
            </div>
            <!-- <div class="decor-box"></div> -->
          </div>
          <div class="menb-card">
            <div class="menb-intro">
              <img alt="name" src="media/name.jpg" class="profile">
              <!-- 这里是介绍 -->
              <div class="intro-cont">
                <div>
                  <p>姓名：</p>
                  <p>闫艺宣</p>
                </div>
                <div>
                  <p>爱好：</p>
                  <p>看美剧、电影，打游戏</p>
                </div>
                <div>
                  <p>特长：</p>
                  <p>前期坚持做事+后期慢慢困了，但是对于看电影、打游戏是会一直坚持哒</p>
                </div>
                <div>
                  <p>喜爱的食物：</p>xixi
                  <p>粘粘糯糯的食物，最近酷爱吃辣，嘻嘻</p>
                </div>
              </div>
            </div>
            <!-- <div class="decor-box"></div> -->
          </div>

          <!-- Member information from database -->
          {% for member in members %}
          <div class="menb-card">
            <div class="menb-intro">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <a href="" onclick="invokeUpload(this); return false;">
                  <img src="media/{{ member.profilename }}" class="profile">
                </a>
                <div class="intro-cont">
                  <div class="name">
                    <input class="pk" type="text" name="fullname" value="{{ member.fullname }}">
                  </div>
                  {% spaceless %}
                  {% for key,value in member.extra.items %}
                  {% if not forloop.counter|divisibleby:2 %}
                  <div class="pair">
                    <input type="text" class="key" name="{{ key }}" value="{{ value }}">
                    {% else %}
                    <input type="text" class="value" name="{{ key }}" value="{{ value }}">
                    <button class="delete" type="button" onclick="deleteField(this); return false;">
                      <img src="media/minus.svg" border="0"/></button>
                  </div>
                  {% endif %}
                  {% endfor %}
                  {% endspaceless %}
                  <button class="add" type="button" onclick="addField(this); return false;">
                    <img src="media/plus.svg" border="0" /></button>
                  <textarea class="intro" name="intro">{{ member.intro }}</textarea>
                  <input type="file" name="file" class="profileupload">
                  <button type="submit" name="action" value="update"><img src="media/check.svg" border="0" /></button>
                  <button type="submit" name="action" value="delete"><img src="media/remove.svg" border="0" /></button>
                </div>
              </form>
            </div>
          </div>
          {% endfor %}

          <div class="menb-card">
            <div class="menb-intro">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <a href="" onclick="invokeUpload(this); return false;">
                  <img src="" class="profile">
                </a>
                <div class="intro-cont">
                  <div class="name">
                    <input class="pk" type="text" name="fullname" placeholder="姓名">
                  </div>
                  <button class="add" type="button" onclick="addField(this); return false;">
                    <img src="media/plus.svg" border="0" /></button>
                  <textarea class="intro" name="intro" placeholder="介绍"></textarea>
                  <input type="file" name="file" class="profileupload">
                  <button type="submit" name="action" value="update"><img src="media/check.svg" border="0" /></button>
                </div>
              </form>
            </div>
          </div>

        </section>
      </article>
    </div>

  </main>


  <footer>
    <p>Credits <a href="https://icons.getbootstrap.com/">Bootstrap Icons</a></p>
  </footer>
</body>

</html>
